# ==========================================
# Database Configuration
# ==========================================
POSTGRES_USER=admin
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=ml_serving_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# ==========================================
# Application Configuration
# ==========================================
APP_ENV=development
# ==========================================
ARTIFACT_STORAGE_BACKEND = 'local'
LOCAL_ARTIFACT_DIR = '/app/model_artifacts/'